.cart-container {
  max-width: 500px;
}

.cart-item {
  border: 1px solid #cdcdcd;
  text-align: left;
  border-radius: 15px;
  padding: 10px;
  width: -webkit-fill-available;
  margin-bottom: 10px;
}

.item-expectedDelivery {
  margin-left: 10px;
}

.cart-container button {
  margin-top: 10px;
}
