.stopwatch {
  width: 100%;
}

.clock {
  width: 210px;
  height: 210px;
  font-size: 2rem;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
  margin: 10px;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.clock-timer {
  position: absolute;
  top: 40%;
  left: 17%;
}

.clock-border-ring {
  border: 5px;
  background-image: linear-gradient(#9d00ff, #9d00ff, #2e91e5);
  border-radius: 50%;
  height: 95%;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate-gradient 1s 1s infinite;
}
.clock-border-ring-inner {
  background: white;
  border-radius: 50%;
  height: 94%;
  width: 94%;
}

@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 25px 0px;
  width: 100%;
}
