.header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 500;
  height: 10vh;
  color: rgb(78, 78, 78);
}

.active {
  color: black;
  animation: animateFontSize 0.2s linear 0s;
  font-size: 2rem;
}

@keyframes animateFontSize {
  0% {
    font-size: 1.3rem;
  }
  25% {
    font-size: 1.5rem;
  }

  50% {
    font-size: 1.7rem;
  }

  75% {
    font-size: 1.9rem;
  }
  100% {
    font-size: 2rem;
  }
}
